API_ACCESS_KEY=
API_URL=https://gompa-tour-api-ha9m.onrender.com
AUTH_SECRET=
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_URL=https://neykor.net
IMAGE_BASE_URL=https://s3.ap-south-1.amazonaws.com/gompa.tour
PORT=10000
RESEND_API_KEY=
